{% extends "layout.html" %}
{% block title %}Guardian's Communication{% endblock %}

{% block body %}
[
  {
    "type": "form",
    "title": "",
    "body": [
    {
    "type": "form",
    "title": "",
    "body": [
      {
        "type": "property",
        "title": "Send Message to Teacher",
        "items": [
          {
            "label": "Message",
            "content": {
              "type": "textarea",
              "required": true,
              "name": "note",
              "placeholder": "Enter...",
              "className": "Panel--primary"
            },
            "span": 3
          },
          {
            "label": "Select Student",
            "content":{
              
        "type": "crud",
  "syncLocation": false,
  "checkOnItemClick": true,
  "api": "{{url_for('studentBriefInfo')}}",
  "headerToobar": ["bulkActions"],
  "bulkActions": [
    {
              "type": "button",
              "label": "Send Message to Teacher",

                      "actionType": "ajax",
                        "api": {
                          "method": "post",
                          "url": "{{url_for('msgBoard')}}",
                          "data": {
                            "msg": "${note}",
                            "student_id": "${ids}"
                          }
                        }
    }
  ],
  "columns": [
    {
      "name": "id",
      "label": "ID"
    },
    {
      "name": "fname",
      "label": "First Name"
    },
    {
      "name": "lname",
      "label": "Last Name"
    }
  ]
            }
          }
        ]
        }
    ],
    "initApi": {
      "method": "get",
      "url": "{{url_for('studentBriefInfo')}}",
      "responseData": {
        "s1": "${items|first}",
        "s2": "${items|nth:1}",
        "s3": "${items|nth:2}"
      }
    },
    "submitText": ""
  },
  {
    "type": "form",
    "title": "",
    "body": [
      {
        "type": "property",
        "title": "",
        "items": [
          {
            "label": "Message History",
            "content":{
              
        "type": "crud",
  "syncLocation": false,
  "checkOnItemClick": true,
  "api": "{{url_for('msgBoard')}}",
  "columns": [
    {
      "type": "date",
      "name": "timestamp",
      "label": "Time",
      "format": "M/D/YYYY HH:mm"
    },
    {
      "name": "msg",
      "label": "Message"
    },
    {
      "name": "fname",
      "label": "First Name"
    },
    {
      "name": "lname",
      "label": "Last Name"
    }
  ]
            }
          }
        ]
        }
    ],
    "initApi": {
      "method": "get",
      "url": "{{url_for('studentBriefInfo')}}",
      "responseData": {
        "s1": "${items|first}",
        "s2": "${items|nth:1}",
        "s3": "${items|nth:2}"
      }
    },
    "submitText": ""
  }
      /*
      {
    "type": "form",
    "title": "",
    "body": [
      {
        "type": "textarea",
        "label": "",
        "name": "msgBoard2",
        "id": "u:3ec513061fa7",
        "minRows": 3,
        "maxRows": 20
      }
    ],
    "id": "u:6ab05083482c",
    "submitText": "Send Message to Teacher",
    "api": {
      "method": "post",
      "convertKeyToPath": false,
      "url": "{{url_for('msgBoard')}}",
      "data": {
        "msg": "${msgBoard2}"
      }
    }
  }*/
    ],
    "initApi": {
      "method": "get",
      "url": "{{url_for('msgBoard')}}",
      "responseData": {
        "msg1": "${items|sortBy:timestamp:numerical:desc|nth:9}",
        "msg2": "${items|sortBy:timestamp:numerical:desc|nth:8}",
        "msg3": "${items|sortBy:timestamp:numerical:desc|nth:7}",
        "msg4": "${items|sortBy:timestamp:numerical:desc|nth:6}",
        "msg5": "${items|sortBy:timestamp:numerical:desc|nth:5}",
        "msg6": "${items|sortBy:timestamp:numerical:desc|nth:4}",
        "msg7": "${items|sortBy:timestamp:numerical:desc|nth:3}",
        "msg8": "${items|sortBy:timestamp:numerical:desc|nth:2}",
        "msg9": "${items|sortBy:timestamp:numerical:desc|nth:1}",
        "msg10": "${items|sortBy:timestamp:numerical:desc|nth:0}",

      }
    },
    "submitText": ""
  }
]
{% endblock %}