{% extends "layout.html" %}
{% block title %}Guardian's Homepage{% endblock %}

{% block body %}
[
  {
    "type": "tpl",
    "tpl": "<h2>Guardian's Homepage<\h2>"
  },
  {
    "type": "grid",
    "columns": [
      {
        "body": [
          {
            "type": "button",
            "label": "Enrollment Management / 注册管理",
            "actionType": "link",
            "link": "{{url_for('userManagePage')}}",
            "icon": "fa-solid fa-user-pen",
            "size": "lg",
            "block": true,
            "level": "light"
          },
          {
            "type": "button",
            "label": "Communication / 留言",
            "actionType": "link",
            "link": "{{url_for('msgBoardPage')}}",
            "icon": "fa-solid fa-comments",
            "size": "lg",
            "block": true
          }
        ]
      },
      {
        "body": [
          {
            "type": "button",
            "label": "Pre-check-in / 预签到",
            "actionType": "link",
            "link": "{{url_for('preCheckInPage')}}",
            "icon": "fa-solid fa-arrow-right-to-bracket",
            "size": "lg",
            "block": true
          },
          {
            "type": "button",
            "label": "Pre-check-out / 预签出",
            "actionType": "link",
            "link": "{{url_for('preCheckOutPage')}}",
            "icon": "fa-solid fa-arrow-right-from-bracket",
            "size": "lg",
            "level": "light",
            "block": true
          },
          {
            "type": "button",
            "label": "Show Barcode / 出示条形码",
            "icon": "fa-solid fa-barcode",
            "size": "lg",
            "block": true,
            "actionType": "dialog",
            "dialog": {
              "title": "Barcode",
              "body": {
                "type": "service",
                "api": "{{url_for('barcode', object='guardian')}}",
                "body": {
                  "type": "barcode",
                  "name": "barcode"
                }
              }
            }
          }
        ]
      }
    ]
  }
]
{% endblock %}