{% extends "layout.html" %}
{% from 'flask_templates/schema/guardian.json' import guardian_form %}
{% from 'flask_templates/schema/student.json' import student_form %}
{% from 'flask_templates/schema/family.json' import family_form %}

{% block title %}Enrollment Management{% endblock %}

{% block body %}
{
  "type": "crud",
  "api": "{{url_for('userManage')}}",
  "mode": "cards",
  "card": {
    "header": {
      "title": "${fname|default:'Family Information'} ${lname}",
      "subTitle": "${CAPITALIZE(object)}",
      "avatarText": "${fname|first|upperCase}",
      "avatarTextBackground": ["#E69F00", "#56B4E9"]
    },
    "actions": [
      {
        "type": "button",
        "label": "Edit",
        "icon": "fa fa-pencil",
        "actionType": "dialog",
        "dialog": {
          "title": "Edit ${CAPITALIZE(object)}",
          "size": "lg",
          "body": [
            {
              "type": "form",
              "visibleOn": "this.object == 'guardian'",
              "api": "put:{{ url_for('userManage', object='guardian', id='${id}') | safe }}",
              "body": {{ guardian_form() }}
            },
            {
              "type": "form",
              "visibleOn": "this.object == 'student'",
              "api": "put:{{ url_for('userManage', object='student', id='${id}') | safe }}",
              "body": {{ student_form() }}
            },
            {
              "type": "form",
              "visibleOn": "this.object == 'familyInfo'",
              "api": "put:{{ url_for('userManage', object='familyInfo', id='${id}') | safe }}",
              "body": {{ family_form() }}
            }
          ]
        }
      }
    ]
  },
  "headerToolbar": [
    {
      "type": "button",
      "label": "Add Guardian",
      "level": "info",
      "actionType": "dialog",
      "dialog": {
        "title": "Add Guardian",
        "size": "lg",
        "body": {
          "type": "form",
          "api": "post:{{ url_for('userManage', object='guardian', id='${id}') | safe }}",
          "body": {{ guardian_form(visible='true', validation='pwd') }}
        }
      }
    },
    {
      "type": "button",
      "label": "Add Student",
      "level": "info",
      "actionType": "dialog", 
      "dialog": {
        "title": "Add Student",
        "size": "lg",
        "body": {
          "type": "form",
          "api": "post:{{ url_for('userManage', object='student', id='${id}') | safe }}",
          "body": {{ student_form() }}
        }
      }
    }
  ]
}
{% endblock %}