{% extends "layout.html" %}
{% block title %}Pre-check-in{% endblock %}

{% block body %}
{
  "type": "crud",
  "api": "{{url_for('preCheckIn')}}",
  "mode": "cards",
  "card": {
    "header": {
      "title": "${fname} ${lname}",
      "subTitle": "${CAPITALIZE(object)}",
      "avatarText": "${fname|first|upperCase}",
      "avatarTextBackground": ["#E69F00", "#56B4E9"]
    }
  },
  "headerToolbar": [
    {
      "type": "tpl",
      "tpl": "<p><em><span style=\"color: rgb(224, 62, 45);\">*Please note that only one guardian and a minimum of one student must be selected for pre-check-in.</span></em></p>"
    }
  ],
  "checkOnItemClick": true,
  "footerToolbar": ["bulkActions"],
  "bulkActions": [
    {
      "type": "button",
      "label": "Pre-check-in",
      "level": "primary",
      "disabledOn": "this.selectedItems.filter(item => item.object === 'guardian').length != 1 || !this.selectedItems.some(item => item.object === 'student')",
      "onEvent": {
        "click": {
          "actions": [
            {
              "actionType": "ajax",
              "args": {
                "api": {
                  "method": "post",
                  "url": "{{url_for('preCheckIn')}}",
                  "data": {
                    "items": "${selectedItems}"
                  }
                }
              }
            },
            {
              "actionType": "dialog",
              "stopPropagation": true,
              "expression": "typeof event.data.responseResult === 'undefined' || event.data.responseResult.responseStatus !== 0",
              "dialog": {
                "title": "Failure",
                "showCloseButton": true,
                "body": [
                  {
                    "type": "alert",
                    "title": "Pre-check-in Failure",
                    "body": "Please attempt again at a later time.",
                    "level": "danger",
                    "showIcon": true
                  }
                ],
                "actions": [
                  {
                    "type": "button",
                    "label": "OK",
                    "actionType": "link",
                    "link": "{{url_for('index')}}",
                    "primary": true
                  }
                ]
              }
            },
            {
              "actionType": "dialog",
              "expression": "event.data.responseResult.responseStatus === 0",
              "dialog": {
                "title": "Success",
                "showCloseButton": false,
                "body": [
                  {
                    "type": "alert",
                    "title": "Thank You!",
                    "level": "success",
                    "showIcon": true,
                    "body": {
                      "type": "tpl",
                      "tpl": "<p>You've completed the pre-check-in process! A barcode has been generated for your upcoming <strong>check-out</strong>. Please take a screenshot or retrieve it from the <strong>Show Barcode</strong> button on the homepage.</p>"
                    }
                  },
                  {
                    "type": "service",
                    "api": "get:{{ url_for('barcode', object='guardian') }}",
                    "body": {
                      "type": "barcode",
                      "name": "barcode"
                    }
                  }
                ],
                "actions": [
                  {
                    "type": "button",
                    "label": "OK",
                    "actionType": "link",
                    "link": "{{ url_for('index') }}",
                    "primary": true
                  }
                ]
              }
            }
          ]
        }
      }
    }
  ]
}
{% endblock %}