{% extends "layout.html" %}
{% block title %}Pre-check-out{% endblock %}

{% block body %}
{
  "type": "crud",
  "api": "{{url_for('preCheckOut')}}",
  "mode": "cards",
  "card": {
    "header": {
      "title": "${fname} ${lname}",
      "subTitle": "${CAPITALIZE(object)}",
      "avatarText": "${fname|first|upperCase}",
      "avatarTextBackground": ["#E69F00", "#56B4E9"]
    }
  },
  "headerToolbar": [
    {
      "type": "tpl",
      "tpl": "<p><em><span style=\"color: rgb(224, 62, 45);\">*Please note that only one guardian and a minimum of one student must be selected for pre-check-out.</span></em></p>"
    }
  ],
  "footerToolbar": ["bulkActions"],
  "bulkActions": [
    {
      "type": "button",
      "label": "Pre-check-out",
      "level": "primary",
      "disabledOn": "this.selectedItems.filter(item => item.object === 'guardian').length != 1 || !this.selectedItems.some(item => item.object === 'student')",
      "onEvent": {
        "click": {
          "actions": [
            {
              "actionType": "ajax",
              "args": {
                "api": {
                  "method": "post",
                  "url": "{{url_for('preCheckOut')}}",
                  "data": {
                    "items": "${selectedItems}"
                  }
                }
              }
            },
            {
              "actionType": "dialog",
              "stopPropagation": true,
              "expression": "typeof event.data.responseResult === 'undefined' || event.data.responseResult.responseStatus !== 0",
              "dialog": {
                "title": "Failure",
                "showCloseButton": true,
                "body": [
                  {
                    "type": "alert",
                    "title": "Pre-check-out Failure",
                    "body": "Please attempt again at a later time.",
                    "level": "danger",
                    "showIcon": true
                  }
                ],
                "actions": [
                  {
                    "type": "button",
                    "label": "OK",
                    "actionType": "link",
                    "link": "{{url_for('index')}}",
                    "primary": true
                  }
                ]
              }
            },
            {
              "actionType": "dialog",
              "expression": "event.data.responseResult.responseStatus === 0",
              "dialog": {
                "title": "Success",
                "showCloseButton": false,
                "body": [
                  {
                    "type": "alert",
                    "title": "Thank You!",
                    "level": "success",
                    "showIcon": true,
                    "body": "You have successfully completed the pre-check-out process. A barcode has been generated for your upcoming check-out. Please present it to the front desk by selecting the appropriate button on the homepage."
                  }
                ],
                "actions": [
                  {
                    "type": "button",
                    "label": "OK",
                    "actionType": "link",
                    "link": "{{url_for('index')}}",
                    "primary": true
                  }
                ]
              }
            }
          ]
        }
      }
    }
  ]
}
{% endblock %}