{% extends "layout.html" %}
{% block title %}Guest Enrollment{% endblock %}

{% block body %}
[
  {
    "type": "tpl",
    "tpl": "<p style=\"text-align: center;\"><span style=\"font-family: 'times new roman', times, serif; font-size: 13pt;\"><strong><u>CKFM GUEST ENROLLMENT</u></strong></span></p>"
  },
  {
    "type": "wizard",
    "api": "{{ url_for('guestEnroll') }}",
    "steps": [
      {
        "title": "Guardian Information",
        "body": [
          {
            "type": "combo",
            "name": "guardians",
            "multiple": true,
            "minLength": 1,
            "tabsMode": true,
            "tabsStyle": "radio",
            "tabsLabelTpl": "Guardian ${index | plus}",
            "value": [{}],
            "items": [
              {
                "type": "grid",
                "columns": [
                  {
                    "body": [
                      {
                        "type": "input-text",
                        "label": "First Name:",
                        "name": "fname",
                        "required": true,
                        "mode": "horizontal"
                      },
                      {
                        "type": "input-text",
                        "label": "Last Name:",
                        "name": "lname",
                        "required": true,
                        "mode": "horizontal"
                      },
                      {
                        "type": "input-text",
                        "label": "Phone Number:",
                        "name": "phone",
                        "required": true,
                        "mode": "horizontal"
                      }
                    ],
                    "valign": "middle",
                    "horizontal": {
                      "justify": true
                    },
                    "columnClassName": "m-l-lg"
                  },
                  {
                    "body": [
                      {
                        "type": "select",
                        "label": "Preferred Check-in/out Method",
                        "name": "check_in_method",
                        "value": "barcode",
                        "required": true,
                        "multiple": false,
                        "mode": "horizontal",
                        "options": [
                          // {
                          //   "label": "Face ID",
                          //   "value": "face"
                          // },
                          {
                            "label": "Barcode",
                            "value": "barcode"
                          }
                        ]
                      },
                      {
                        "type": "hidden",
                        "name": "is_guest",
                        "value": true
                      }
                    ],
                    "horizontal": {
                      "justify": true
                    }
                  }
                ]
              }
            ]
          }
        ]
      },
      {
        "title": "Child Information",
        "body": [
          {
            "type": "combo",
            "name": "students",
            "multiple": true,
            "minLength": 1,
            "tabsMode": true,
            "tabsStyle": "radio",
            "tabsLabelTpl": "Student ${index | plus}",
            "value": [{}],
            "items": [
              {
                "type": "grid",
                "columns": [
                  {
                    "body": [
                      {
                        "type": "input-text",
                        "label": "First Name:",
                        "name": "fname",
                        "required": true,
                        "mode": "horizontal"
                      },
                      {
                        "type": "input-text",
                        "label": "Last Name:",
                        "name": "lname",
                        "required": true,
                        "mode": "horizontal"
                      }
                    ],
                    "valign": "top",
                    "columnClassName": "m-l-lg",
                    "horizontal": {
                      "justify": true
                    }
                  },
                  {
                    "body": [
                      {
                        "type": "select",
                        "label": "Preferred Check-in/out Method",
                        "name": "check_in_method",
                        "value": "barcode",
                        "required": true,
                        "multiple": false,
                        "mode": "horizontal",
                        "options": [
                          // {
                          //   "label": "Face ID",
                          //   "value": "face"
                          // },
                          {
                            "label": "Barcode",
                            "value": "barcode"
                          }
                        ]
                      },
                      {
                        "type": "hidden",
                        "name": "is_guest",
                        "value": true
                      }
                    ],
                    "horizontal": {
                      "justify": true
                    }
                  }
                ]
              },
              {
                "type": "divider"
              },
              {
                "type": "select",
                "name": "programs",
                "label": "Program",
                "selectMode": "table",
                "multiple": true,
                "required": true,
                "columns": [
                  { 
                    "name": "label",
                    "label": "Program"
                  },
                  {
                    "name": "description",
                    "label": "Description"
                  }
                ],
                "options": [
                  {
                    "label": "Sunday School",
                    "value": "sunday_school",
                    "description": "SUNDAY SCHOOL 主日學 (18 months old – 6th grade) 10:00 AM – 11:30 AM Fee/ 免费"
                  },
                  {
                    "label": "CM Parent and Child Lounge",
                    "value": "cm_lounge",
                    "description": "CM Parent and Child Lounge 中文堂家长和幼儿休息室 (新生兒 - 18個月大) July 2022 – June 2023 *Available on Sundays & Special events *主日和特別活動開放時可用"
                  },
                  {
                    "label": "Canaan Kid's Choir/Art",
                    "value": "kid_choir",
                    "description": "CANAAN KID'S CHOIR/ART 迦南兒童合唱團/ 美术班 (Kindergarten – 6th grade)  July 2022 – June. 2023 (Sunday 11:30 AM – 12:30 PM) Fee Required Program/ 需繳费活動: □ Early Bird / 1st Time Registration  $45  (June 2022 / 於6月間註冊) □ Regular Registration $60.00 August – Jan/於8-1月間註冊) □ Late Registration $30.00 (Feb – June /於2-6月間註冊)"
                  },
                  {
                    "label": "U3 Friday Night",
                    "value": "u3_friday",
                    "description": "U3 Friday Night (18 月大 – 3 歲)  Sept. 2021 – June 2022 周五晚7:30 PM – 9:30 PM *Class availability determines upon number of registrants *根據註冊人數決定是否開班"
                  },
                  {
                    "label": "Friday Night CKFM and Chlid Lounge",
                    "value": "friday_lounge",
                    "description": "Friday Night CKFM Parent and Child Lounge 周五晚家长和幼儿休息室 (新生兒 - 18個月大) July 2022 – June 2023 7:30 PM – 9:30 PM"
                  },
                  {
                    "label": "Friday Night",
                    "value": "friday_night",
                    "description": "Friday Night   周五晚 (Preschool – 6th grades) July 2022 – June 2023  Friday 7:30 PM – 9:30 PM  Fee Required Program/需繳费活動  □ Early Bird / 1st Time Registration  $90  (June 2022) / 於6月份時註冊 □ Regular Registration $120.00 (July 2022 – Dec. 2022) 於7月至12月間註冊 □ Late Registration $60.00 (Jan. 2023 – June 2023) 於2023年1月至6月間註冊"
                  }
                ]
              }
            ]
          }
        ] 
      }
    ],
    "onEvent": {
      "submitSucc": {
        "actions": [
          {
            "actionType": "dialog",
            "dialog": {
              "title": "Success",
              "showCloseButton": false,
              "body": [
                {
                  "type": "alert",
                  "title": "Thank You!",
                  "body": "Your enrollment has been received.\n Printing barcode badges...",
                  "level": "success",
                  "showIcon": true
                }
              ],
              "actions": [
                {
                  "type": "button",
                  "label": "OK",
                  "actionType": "link",
                  "link": "{{url_for('index')}}",     // to index menu
                  "primary": true
                }
              ]
            }
          },
          {
            "actionType": "custom",
            "script": "DoPrint(event.data.result.data);"
          }
        ]
      }
    }
  }
]
{% endblock %}

{% block printer_script %}
{% include 'flask_templates/general/print.html' %}
{% endblock %}