slick-crud-app-master
Backend/app.py
AttendancePro/dev/
#AttendancePro/sdk/

# Files
.DS_Store
AttendancePro/.DS_Store

config.py
flask-crud-application-with-mysql-master/config.py
Backend/*.json
Backend/data
__pycache__
.ipynb_checkpoints

# AttendancePro/flask_templates/*