slick-crud-app-master
Backend/app.py

# Folders
AttendancePro/dev/
__pycache__/

# Files
**/.DS_Store
Backend/restful_api/restful_config.py
flask-crud-application-with-mysql-master/config.py
Backend/*.json
Backend/data/*.ipynb
Backend/data/*.xlsx
.ipynb_checkpoints
.vscode
.github/workflows
AttendancePro/static/lib/react-webcam.js
AttendancePro/static/lib/webcam.html