<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <link rel="stylesheet" href="/static/amis/sdk.css" />
    <link rel="stylesheet" href="/static/amis/helper.css" />
    <link rel="stylesheet" href="/static/amis/iconfont.css" />
    <style>
      html,
      body,
      .app-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .amis-scope .cxd-Cards-actions {
        display: none;
      }
    </style>
  </head>
  <body>
    <div id="root" class="app-wrapper"></div>
    <script src="/static/amis/sdk.js"></script>
    <script type="text/javascript">
      (function () {
        let amis = amisRequire('amis/embed');
        let amisJSON = {
          "type": "page",
          "cssVars": {
            "--fonts-size-7": "15px",
            "--fonts-size-8": "13px"
          },
          "body": {% block body %}{% endblock %},
          "toolbar": [
            {
              "type": "flex",
              "justify": "space-between",
              "className": "bg-light",
              "items": [
                {
                  "type": "button",
                  "icon": "fa-solid fa-house",
                  "className": "m-l-sm",
                  "actionType": "link",
                  "link": "{{url_for('index')}}"
                },
                {
                  "type": "dropdown-button",
                  "label": "${cookie:fname} ${cookie:lname}",
                  "icon": "fa fa-user",
                  "align": "right",
                  "className": "m-r",
                  "buttons": [
                    {
                      "type": "button",
                      "actionType": "dialog",
                      "label": "Change password",
                      "dialog": {
                        "title": "Change password",
                        "body": {
                          "type": "form",
                          "api": "put:{{ url_for('userManage', object='${cookie:user_group}', id='${cookie:user_id}') | safe }}",
                          "mode": "horizontal",
                          "horizontal": { "justify": true },
                          "rules": [
                            {
                              "rule": "${current_pwd != new_pwd}",
                              "message": "New password must be different from current password!",
                              "name": ["new_pwd"]
                            },
                            {
                              "rule": "${new_pwd == confirm_pwd}",
                              "message": "New password doesn't match!",
                              "name": ["confirm_pwd"]
                            }
                          ],
                          "body": [
                            {
                              "type": "input-password",
                              "name": "current_pwd",
                              "label": "Current password:",
                              "required": true
                            },
                            {
                              "type": "input-password",
                              "name": "new_pwd",
                              "label": "New password:",
                              "required": true
                            },
                            {
                              "type": "input-password",
                              "name": "confirm_pwd",
                              "label": "Confirm new password:",
                              "required": true
                            }
                          ]
                        }
                      }
                    },
                    {
                      "type": "button",
                      "actionType": "ajax",
                      "label": "Sign out",
                      "api": "{{ url_for('logout') }}",
                      "redirect": "{{ url_for('login') }}"
                    }
                  ]
                }
              ]
            }
          ]
        };
        let amisScoped = amis.embed('#root', amisJSON, {locale: 'en-US'});
      })();
    </script>
    {% block printer_script %}{% endblock %}
  </body>
</html>
