{% extends "layout.html" %}
{% block title %}Enrollment Management{% endblock %}

{% block body %}
{
  "type": "tabs",
  "tabsMode": "strong",
  "tabs": [
    {
      "title": "Guardians",
      "tab": [
        {
          "type": "crud",
          "syncLocation": false,
          "source": "${items | filter:fname:match:keywords}",
          "filter": {
            "body": [
              {
                "type": "input-text",
                "name": "keywords",
                "label": "First Name"
              }
            ]
          },
          "api": {
            "method": "get",
            "url": "{{url_for('adminManage', object='guardian')}}"
          },
          "columns": [
            {
              "name": "id",
              "label": "ID",
              "type": "text"
            },
            {
              "name": "fname",
              "label": "FIRST NAME",
              "type": "text"
            },
            {
              "type": "text",
              "name": "lname",
              "label": "LAST NAME"
            },
            {
              "type": "text",
              "name": "phone",
              "label": "PHONE NUMBER"
            },
            {
              "type": "text",
              "name": "pwd",
              "label": "PASSWORD"
            },
            {
              "type": "text",
              "name": "email",
              "label": "EMAIL"
            },
            {
              "type": "text",
              "name": "relationship",
              "label": "relationship"
            },
            {
              "type": "text",
              "name": "check_in_method",
              "label": "check_in_method"
            },
            {
              "type": "operation",
              "label": "Operation",
              "buttons": [
                {
                  "type": "button",
                  "label": "改密码",
                  "level": "link",
                  "actionType": "dialog",
                  "dialog": {
                    "title": "改密码",
                    "body": {
                    "type": "form",
                    "api": "put:{{ url_for('adminManage', object='guardian', id='${id}') }}", 
                    "body": [
                        {
                          "type": "input-text",
                          "name": "phone",
                          "label": false
                        },
                        {
                          "type": "input-password",
                          "name": "password",
                          "label": false,
                          "placeholder": "Password",
                          "required": true
                        },
                        {
                          "type": "input-password",
                          "name": "confirm_password",
                          "label": false,
                          "placeholder": "Confirm password",
                          "required": true,
                          "validations": {
                            "equalsField": "password"
                          },
                          "validationErrors": {
                            "equalsField": "passord doesn't match!"
                          },
                          "validateOnChange": true
                        }
                      ]
                    }
                  }
                },
                {
                  "label": "Edit",
                  "type": "button",
                  "actionType": "drawer",
                  "level": "link",
                  "drawer": {
                    "title": "编辑",
                    "body": {
                      "type": "form",
                      "api": "put:{{ url_for('adminManage', object='guardian', id='${id}') }}",
                      "body": [
                        {
                          "name": "fname",
                          "label": "FIRST NAME",
                          "type": "input-text"
                        },
                        {
                          "type": "input-text",
                          "name": "lname",
                          "label": "LAST NAME"
                        },
                        {
                          "type": "input-text",
                          "name": "phone",
                          "label": "PHONE NUMBER"
                        },
                        {
                          "type": "input-text",
                          "name": "pwd",
                          "label": "PASSWORD"
                        },
                        {
                          "type": "input-text",
                          "name": "email",
                          "label": "EMAIL"
                        },
                        {
                          "type": "input-text",
                          "name": "relationship",
                          "label": "relationship"
                        },
                        {
                          "type": "input-text",
                          "name": "check_in_method",
                          "label": "check_in_method"
                        },
                        {
                          "type": "input-text",
                          "name": "barcode",
                          "label": "barcode"
                        }
                      ]
                    }
                  }
                },
                {
                  "type": "button",
                  "actionType": "ajax",
                  "label": "Delete",
                  "level": "link",
                  "confirmText": "确定要删除？",
                  "api": "delete:{{url_for('adminManage', object='guardian', id='${id}')}}"
                }
              ]
            }
          ],
          "filterColumnCount": 13,
          "headerToolbar": [
            {
              "label": "新增",
              "type": "button",
              "actionType": "dialog",
              "level": "primary",
              "dialog": {
                "title": "新增",
                "body": {
                  "type": "form",
                  "api": {
                    "method": "post",
                    "url": "{{url_for('adminManage', object='guardian')}}"
                  },
                  "body": [
            {
              "name": "fname",
              "label": "FIRST NAME",
              "type": "input-text"
            },
            {
              "type": "input-text",
              "name": "lname",
              "label": "LAST NAME"
            },
            {
              "type": "input-text",
              "name": "phone",
              "label": "PHONE NUMBER"
            },
            {
              "type": "input-text",
              "name": "pwd",
              "label": "PASSWORD"
            },
            {
              "type": "input-text",
              "name": "email",
              "label": "EMAIL"
            },
            {
              "type": "input-text",
              "name": "relationship",
              "label": "relationship"
            },
            {
              "type": "input-text",
              "name": "check_in_method",
              "label": "check_in_method"
            }
                  ]
                }
              },
              "id": "u:4823d8fc3b75"
            },
            {
              "type": "bulk-actions"
            }
          ],
          "perPageAvailable": [
            10
          ]
        }
      ]
    },
    {
      "title": "Students",
      "tab": [
        {
          "type": "crud",
          "syncLocation": false,
          "source": "${items | filter:fname:match:keywords}",
          "filter": {
            "body": [
              {
                "type": "input-text",
                "name": "keywords",
                "label": "First Name"
              }
            ]
          },
          "api": {
            "method": "get",
            "url": "{{url_for('adminManage', object='student')}}"
          },
          "columns": [
            {
              "name": "id",
              "label": "ID",
              "type": "text"
            },
            {
              "name": "fname",
              "label": "FIRST NAME",
              "type": "text"
            },
            {
              "type": "text",
              "name": "lname",
              "label": "LAST NAME"
            },
            {
              "type": "text",
              "name": "birthdate",
              "label": "BIRTH DATE"
            },
            {
              "type": "text",
              "name": "gender",
              "label": "GENDER"
            },
            {
              "type": "text",
              "name": "grade",
              "label": "GRADE"
            },
            {
              "type": "text",
              "name": "check_in_method",
              "label": "check_in_method"
            },
            {
              "type": "text",
              "name": "allergies",
              "label": "ALLERGIES"
            },
            {
              "type": "mapping",
              "name": "${programs | split}",
              "label": "Program",
              "itemSchema": {
                "type": "tag",
                "label": "${item}",
                "className": "m-b-xs"
              },
              "map": {
                "sunday_school": "Sunday School",
                "cm_lounge": "CM Parent and Child Lounge",
                "kid_choir": "Canaan Kid's Choir/Art",
                "u3_friday": "U3 Friday Night",
                "friday_lounge": "Friday Night CKFM and Chlid Lounge",
                "friday_night": "Friday Night",
              }
            },
            {
              "type": "operation",
              "label": "Operation",
              "buttons": [
                {
                  "label": "Edit",
                  "type": "button",
                  "actionType": "drawer",
                  "level": "link",
                  "drawer": {
                    "title": "编辑",
                    "body": {
                      "type": "form",
                      "api": "put:{{ url_for('adminManage', object='student', id='${id}') }}",
                      "body": [
                        {
                          "name": "id",
                          "label": "ID",
                          "type": "input-text"
                        },
                        {
                          "name": "fname",
                          "label": "FIRST NAME",
                          "type": "input-text"
                        },
                        {
                          "type": "input-text",
                          "name": "lname",
                          "label": "LAST NAME"
                        },
                        {
                          "type": "input-text",
                          "name": "birthdate",
                          "label": "BIRTH DATE"
                        },
                        {
                          "type": "input-text",
                          "name": "gender",
                          "label": "GENDER"
                        },
                        {
                          "type": "input-text",
                          "name": "grade",
                          "label": "GRADE"
                        },
                        {
                          "type": "input-text",
                          "name": "check_in_method",
                          "label": "check_in_method"
                        },
                        {
                          "type": "input-text",
                          "name": "allergies",
                          "label": "ALLERGIES"
                        },
                        {
                          "type": "input-text",
                          "name": "sunday_school",
                          "label": "SUNDAY SCHOOL"
                        },
                        {
                          "type": "input-text",
                          "name": "cm_lounge",
                          "label": "CM LOUNGE"
                        },
                        {
                          "type": "input-text",
                          "name": "kid_choir",
                          "label": "KID CHOIR"
                        },
                        {
                          "type": "input-text",
                          "name": "u3_friday",
                          "label": "U3 FRIDAY"
                        },
                        {
                          "type": "input-text",
                          "name": "friday_lounge",
                          "label": "FRIDAY LOUNGE"
                        },
                        {
                          "type": "input-text",
                          "name": "friday_night",
                          "label": "FRIDAY NIGHT"
                        },
                        {
                          "type": "input-text",
                          "name": "barcode",
                          "label": "barcode"
                        }
                      ]
                    }
                  }
                },
                {
                  "type": "button",
                  "label": "Print",
                  "level": "link",
                  "visibleOn": "this.check_in_method === 'barcode'",
                  "onEvent": {
                    "click": {
                      "actions": [
                        {
                          "actionType": "custom",
                          "script": "DoPrint(event.data);"
                        }
                      ]
                    }
                  }
                },
                {
                  "type": "button",
                  "actionType": "ajax",
                  "label": "Delete",
                  "level": "link",
                  "className": "bg-danger",
                  "confirmText": "确定要删除？",
                  "api": "delete:{{ url_for('adminManage', object='student', id='${id}') }}"
                }
              ]
            }
          ],
          "filterColumnCount": 13,
          "headerToolbar": [
            {
              "label": "新增",
              "type": "button",
              "actionType": "dialog",
              "level": "primary",
              "dialog": {
                "title": "新增",
                "body": {
                  "type": "form",
                  "api": {
                    "method": "post",
                    "url": "{{url_for('adminManage', object='student')}}"
                  },
                  "body": [
                  {
              "name": "fname",
              "label": "FIRST NAME",
              "type": "input-text"
            },
            {
              "type": "input-text",
              "name": "lname",
              "label": "LAST NAME"
            },
            {
              "type": "input-text",
              "name": "birthdate",
              "label": "BIRTH DATE"
            },
            {
              "type": "input-text",
              "name": "gender",
              "label": "GENDER"
            },
            {
              "type": "input-text",
              "name": "grade",
              "label": "GRADE"
            },
            {
              "type": "input-text",
              "name": "check_in_method",
              "label": "check_in_method"
            },
            {
              "type": "input-text",
              "name": "allergies",
              "label": "ALLERGIES"
            },
            {
              "type": "input-text",
              "name": "sunday_school",
              "label": "SUNDAY SCHOOL"
            },
            {
              "type": "input-text",
              "name": "cm_lounge",
              "label": "CM LOUNGE"
            },
            {
              "type": "input-text",
              "name": "kid_choir",
              "label": "KID CHOIR"
            },
            {
              "type": "input-text",
              "name": "u3_friday",
              "label": "U3 FRIDAY"
            },
            {
              "type": "input-text",
              "name": "friday_lounge",
              "label": "FRIDAY LOUNGE"
            },
            {
              "type": "input-text",
              "name": "friday_night",
              "label": "FRIDAY NIGHT"
            }
                  ]
                }
              }
            }
          ]
        }
      ]
    },
    {
      "title": "Family Information",
      "tab": [
        {
          "type": "crud",
          "syncLocation": false,
          "loadDataOnce": true,
          "source": "${items | filter:id:match:id\
                              | filter:programs:match:programs}",
          "filter": {
            "body": [
              {
                "type": "input-text",
                "name": "id",
                "label": "ID"
              },
              {
                "type": "select",
                "name": "programs",
                "label": "Program(s):",
                "multiple": true,
                "options": [
                  {
                    "label": "Sunday School",
                    "value": "sunday_school"
                  },
                  {
                    "label": "CM Parent and Child Lounge",
                    "value": "cm_lounge"
                  },
                  {
                    "label": "Canaan Kid's Choir/Art",
                    "value": "kid_choir"
                  },
                  {
                    "label": "U3 Friday Night",
                    "value": "u3_friday"
                  },
                  {
                    "label": "Friday Night CKFM and Chlid Lounge",
                    "value": "friday_lounge"
                  },
                  {
                    "label": "Friday Night",
                    "value": "friday_night"
                  }
                ]
              }
            ]
          },
          "api": {
            "method": "get",
            "url": "{{url_for('adminManage', object='familyInfo')}}"
          },
          "columns": [
            {
              "name": "id",
              "label": "ID",
              "type": "text"
            },
            {
              "name": "street",
              "label": "STREET",
              "type": "text"
            },
            {
              "type": "text",
              "name": "city",
              "label": "CITY"
            },
            {
              "type": "text",
              "name": "state",
              "label": "STATE"
            },
            {
              "type": "text",
              "name": "zip",
              "label": "ZIP"
            },
            {
              "type": "text",
              "name": "physician",
              "label": "PHYSICIAN"
            },
            {
              "type": "text",
              "name": "physician_phone",
              "label": "PHYSICIAN PHONE"
            },
            {
              "type": "text",
              "name": "insurance",
              "label": "INSURANCE"
            },
            {
              "type": "text",
              "name": "insurance_phone",
              "label": "INSURANCE PHONE"
            },
            {
              "type": "text",
              "name": "insurance_policy",
              "label": "INSURANCE POLICY"
            },
            {
              "type": "text",
              "name": "group",
              "label": "GROUP"
            },
            {
              "name": "programs",
              "type": "mapping",
              "label": "Program(s)",
              "sortable": true,
              "map": {
                "sunday_school": "<span class='label label-default'>Sunday School</span>",
                "cm_lounge": "<span class='label label-default'>CM Parent and Child Lounge</span>",
                "kid_choir": "<span class='label label-default'>Canaan Kid's Choir/Art</span>",
                "u3_friday": "<span class='label label-default'>U3 Friday Night</span>",
                "friday_lounge": "<span class='label label-default'>Friday Night CKFM and Chlid Lounge</span>",
                "friday_night": "<span class='label label-default'>Friday Night</span>",
              }
            },
            {
              "type": "text",
              "name": "pay",
              "label": "PAY"
            },
            {
              "type": "text",
              "name": "checkbox",
              "label": "CHECKBOX"
            },
            {
              "type": "operation",
              "label": "Operation",
              "buttons": [
                {
                  "label": "Edit",
                  "type": "button",
                  "actionType": "drawer",
                  "level": "link",
                  "drawer": {
                    "title": "编辑",
                    "body": {
                      "type": "form",
                      "api": "put:{{ url_for('adminManage', object='familyInfo', id='${id}') }}",
                      "body": [
                        {
                          "name": "id",
                          "label": "ID",
                          "type": "input-text"
                        },
                        {
                          "name": "street",
                          "label": "STREET",
                          "type": "input-text"
                        },
                        {
                          "type": "input-text",
                          "name": "city",
                          "label": "CITY"
                        },
                        {
                          "type": "input-text",
                          "name": "state",
                          "label": "STATE"
                        },
                        {
                          "type": "input-text",
                          "name": "zip",
                          "label": "ZIP"
                        },
                        {
                          "type": "input-text",
                          "name": "physician",
                          "label": "PHYSICIAN"
                        },
                        {
                          "type": "input-text",
                          "name": "physician_phone",
                          "label": "PHYSICIAN PHONE"
                        },
                        {
                          "type": "input-text",
                          "name": "insurance",
                          "label": "INSURANCE"
                        },
                        {
                          "type": "input-text",
                          "name": "insurance_phone",
                          "label": "INSURANCE PHONE"
                        },
                        {
                          "type": "input-text",
                          "name": "insurance_policy",
                          "label": "INSURANCE POLICY"
                        },
                        {
                          "type": "input-text",
                          "name": "group",
                          "label": "GROUP"
                        },
                        {
                          "type": "input-text",
                          "name": "sunday_school",
                          "label": "SUNDAY SCHOOL"
                        },
                        {
                          "type": "input-text",
                          "name": "friday_night",
                          "label": "FRIDAY NIGHT"
                        },
                        {
                          "type": "input-text",
                          "name": "special_events",
                          "label": "SPECIAL EVENTS"
                        },
                        {
                          "type": "input-text",
                          "name": "pay",
                          "label": "PAY"
                        },
                        {
                          "type": "input-text",
                          "name": "checkbox",
                          "label": "CHECKBOX"
                        }
                      ]
                    }
                  }
                },
                {
                  "type": "button",
                  "actionType": "ajax",
                  "label": "Delete",
                  "level": "link",
                  "confirmText": "确定要删除？",
                  "api": "delete:{{ url_for('adminManage', object='familyInfo', id='${id}') }}"
                }
              ]
            }
          ],
          "filterColumnCount": 13,
          "headerToolbar": [
            {
              "label": "新增",
              "type": "button",
              "actionType": "dialog",
              "level": "primary",
              "dialog": {
                "title": "新增",
                "body": {
                  "type": "form",
                  "api": {
                    "method": "post",
                    "url": "{{url_for('adminManage', object='familyInfo')}}"
                  },
                  "body": [
                  {
              "name": "street",
              "label": "STREET",
              "type": "input-text"
            },
            {
              "type": "input-text",
              "name": "city",
              "label": "CITY"
            },
            {
              "type": "input-text",
              "name": "state",
              "label": "STATE"
            },
            {
              "type": "input-text",
              "name": "zip",
              "label": "ZIP"
            },
            {
              "type": "input-text",
              "name": "physician",
              "label": "PHYSICIAN"
            },
            {
              "type": "input-text",
              "name": "physician_phone",
              "label": "PHYSICIAN PHONE"
            },
            {
              "type": "input-text",
              "name": "insurance",
              "label": "INSURANCE"
            },
            {
              "type": "input-text",
              "name": "insurance_phone",
              "label": "INSURANCE PHONE"
            },
            {
              "type": "input-text",
              "name": "insurance_policy",
              "label": "INSURANCE POLICY"
            },
            {
              "type": "input-text",
              "name": "group",
              "label": "GROUP"
            },
            {
              "type": "input-text",
              "name": "sunday_school",
              "label": "SUNDAY SCHOOL"
            },
            {
              "type": "input-text",
              "name": "friday_night",
              "label": "FRIDAY NIGHT"
            },
            {
              "type": "input-text",
              "name": "special_events",
              "label": "SPECIAL EVENTS"
            },
            {
              "type": "input-text",
              "name": "pay",
              "label": "PAY"
            },
            {
              "type": "input-text",
              "name": "checkbox",
              "label": "CHECKBOX"
            }
                  ]
                }
              },
              "id": "u:4823d8fc3b75"
            },
            {
              "type": "bulk-actions"
            }
          ],
          "id": "u:d3d8f2c930bd",
          "perPageAvailable": [
            10
          ]
        }
      ]
    },
    {
      "title": "Family",
      "tab": [
        {
          "type": "crud",
          "syncLocation": false,
          "source": "${items | filter:id:match:keywords}",
          "filter": {
            "body": [
              {
                "type": "input-text",
                "name": "keywords",
                "label": "ID"
              }
            ]
          },
          "api": {
            "method": "get",
            "url": "{{url_for('adminManage', object='family')}}"
          },
          "columns": [
            {
              "name": "id",
              "label": "FAMILY ID",
              "type": "text"
            },
            {
              "type": "text",
              "name": "student_name",
              "label": "STUDENT NAME",
              "sortable": true
            },
            {
              "name": "guardian_name",
              "label": "GUARDIAN NAME",
              "type": "text",
              "sortable": true
            },
            {
              "name": "guardian_phone",
              "label": "GUARDIAN PHONE",
              "type": "text"
            },
            {
              "name": "guardian_email",
              "label": "GUARDIAN EMAIL",
              "type": "text"
            },
            {
              "name": "guardian_relationship",
              "label": "GUARDIAN RELATIONSHIP",
              "type": "text"
            },
            // {
            //   "type": "operation",
            //   "label": "Operation",
            //   "buttons": [
            //     {
            //       "type": "button",
            //       "actionType": "ajax",
            //       "label": "Delete",
            //       "level": "link",
            //       "confirmText": "确定要删除？",
            //       "api": "delete:{{ url_for('adminManage', object='family', id='${id}') }}"
            //     }
            //   ]
            // }
          ],
          "filterColumnCount": 13,
          "headerToolbar": [
            {
              "label": "新增",
              "type": "button",
              "actionType": "dialog",
              "level": "primary",
              "dialog": {
                "title": "新增",
                "body": {
                  "type": "form",
                  "api": {
                    "method": "post",
                    "url": "{{url_for('adminManage', object='family')}}"
                  },
                  "body": [
                  {
              "name": "guardian_id",
              "label": "GUARDIAN ID",
              "type": "input-text"
            },
            {
              "type": "input-text",
              "name": "student_id",
              "label": "STUDENT ID"
            }
                  ]
                }
              },
              "id": "u:4823d8fc3b75"
            },
            {
              "type": "bulk-actions"
            }
          ],
          "id": "u:d3d8f2c930bd",
          "perPageAvailable": [
            10
          ]
        }
      ]
    },
    {
      "title": "Class",
      "tab": [
        {
          "type": "crud",
          "syncLocation": false,
          "api": "{{url_for('adminManage', object='student')}}",
          "loadDataOnce": true,
          "source": "${items | filter:fname:match:fname\
                              | filter:lname:match:lname\
                              | filter:grade:match:grade\
                              | filter:classes_id:match:class}",
          "filter": {
            "body": [
              {
                "type": "input-text",
                "name": "fname",
                "label": "First name:"
              },
              {
                "type": "input-text",
                "name": "lname",
                "label": "Last name:"
              },
              {
                "type": "input-text",
                "name": "grade",
                "label": "Grade:"
              },
              {
                "type": "select",
                "name": "class",
                "label": "Class:",
                "source": "{{url_for('adminManage', object='classes')}}" // use REST api for getting class names
                // https://baidu.github.io/amis/zh-CN/components/form/options#%E8%BF%9C%E7%A8%8B%E6%8B%89%E5%8F%96
              }
            ],
            "actions": [
              {
                "type": "button",
                "label": "Delete the class",
                "level": "danger",
                "required": ["class"],
                "actionType": "ajax",
                "confirmText": "Do you want to delete class ${class}?",
                "api": {
                  "method": "delete",
                  "url": "{{url_for('adminManage', object='classes', id='${class}')}}"
                }
              },
              {
                "type": "button",
                "label": "Create a new class",
                "actionType": "dialog",
                "dialog": {
                  "title": "Create a new class",
                  "body": {
                    "type": "form",
                    "api": "{{url_for('adminManage', object='classes')}}",
                    "mode": "horizontal",
                    "horizontal": { "justify": true },
                    "body": [
                      {
                        "type": "input-text",
                        "name": "classes_id",
                        "label": "Class name:",
                        "required": true
                      },
                      {
                        "type": "input-text",
                        "name": "name",
                        "label": "Teacher Name:",
                        "required": true
                      }
                    ]
                  }
                }
              },
              {
                "type": "reset",
                "label": "Reset"
              },
              {
                "type": "submit",
                "level": "primary",
                "label": "Search"
              }
            ]
          },
          "headerToolbar": ["bulkActions"],
          "keepItemSelectionOnPageChange": true,
          "checkOnItemClick": true,
          "bulkActions": [
            {
              "actionType": "dialog",
              "label": "Move to class",
              "level": "info",
              "dialog": {
                "title": "Move to class",
                "body": [
                  {
                    "type": "form",
                    "api": {
                      "method": "put",
                      "url": "{{ url_for('adminManage', object='classes', id='${id}') }}",
                      "data": {
                        "operation": "add",
                        "classes_id": "${class}",
                        "student_id_list": "${selectedItems|pick:id}",
                        "classes_id_list": "${selectedItems|pick:classes_id}"
                      }
                    },
                    "body": [
                      {
                        "type": "select",
                        "name": "class",
                        "label": "Class:",
                        "required": true,
                        "source": "{{url_for('adminManage', object='classes')}}"
                      }
                    ]
                  }
                ]
              }
            },
            {
              "type": "button",
              "label": "Drop from class",
              "level": "danger",
              "actionType": "ajax",
              "confirmText": "Do you want to drop selected students from their current class?",
              "api": {
                "method": "put",
                "url": "{{ url_for('adminManage', object='classes') }}",
                "data": {
                  "operation": "drop",
                  "students": "${selectedItems}"
                }
              }
            }
          ],
          "columns": [
            {
              "name": "id",
              "label": "ID"
            },
            {
              "name": "fname",
              "label": "First Name",
              "sortable": true
            },
            {
              "name": "lname",
              "label": "Last Name",
              "sortable": true
            },
            {
              "name": "grade",
              "label": "Grade",
              "sortable": true
            },
            {
              "name": "classes_id",
              "label": "Class",
              "sortable": true
            }
          ]
        }
      ]
    },
    {
      "title": "Teachers",
      "tab": [
        {
          "type": "crud",
          "syncLocation": false,
          "api": "{{ url_for('adminManage', object='teacher') }}",
          "loadDataOnce": true,
          "source": "${items | filter:fname:match:fname\
                             | filter:lname:match:lname}",
          "filter": {
            "body": [
              {
                "type": "input-text",
                "name": "fname",
                "label": "First name:"
              },
              {
                "type": "input-text",
                "name": "lname",
                "label": "Last name:"
              }
            ]
          },
          "columns": [
            {
              "name": "fname",
              "label": "First Name",
              "sortable": true
            },
            {
              "name": "lname",
              "label": "Last Name",
              "sortable": true
            },
            {
              "name": "phone",
              "label": "Phone",
              "sortable": true
            },
            {
              "name": "pwd",
              "label": "Password",
              "sortable": true
            },
            {
              "name": "email",
              "label": "Email",
              "sortable": true
            },
            {
              "name": "classes_id",
              "label": "Class",
              "sortable": true
            },
            {
              "name": "privilege",
              "label": "Privilege",
              "sortable": true
            },
            {
              "type": "operation",
              "label": "Operation",
              "buttons": [
                {
                  "label": "Edit",
                  "type": "button",
                  "level": "link",
                  "actionType": "drawer",
                  "drawer": {
                    "title": "Edit",
                    "body": {
                      "type": "form",
                      "api": "put:{{ url_for('adminManage', object='teacher', id='${id}') }}",
                      "body": [
                        {
                          "type": "input-text",
                          "name": "fname",
                          "label": "First Name"
                        },
                        {
                          "type": "input-text",
                          "name": "lname",
                          "label": "Last Name"
                        },
                        {
                          "type": "input-text",
                          "name": "phone",
                          "label": "Phone"
                        },
                        {
                          "type": "input-text",
                          "name": "pwd",
                          "label": "Password"
                        },
                        {
                          "type": "input-text",
                          "name": "email",
                          "label": "Email"
                        },
                        {
                          "type": "input-text",
                          "name": "classes_id",
                          "label": "Class"
                        },
                        {
                          "type": "input-text",
                          "name": "privilege",
                          "label": "Privilege"
                        }
                      ]
                    }
                  }
                },
                {
                  "type": "button",
                  "actionType": "ajax",
                  "label": "Delete",
                  "level": "link",
                  "confirmText": "确定要删除？",
                  "api": "delete:{{ url_for('adminManage', object='teacher', id='${id}') }}"
                }
              ]
            }
          ],
          "headerToolbar": [
            {
              "type": "button",
              "label": "Add teacher",
              "level": "primary",
              "actionType": "dialog",
              "dialog": {
                "title": "Add teacher",
                "body": {
                  "type": "form",
                  "api": "post:{{ url_for('adminManage', object='teacher') }}",
                  "body": [
                    {
                      "type": "input-text",
                      "label": "First Name",
                      "name": "fname",
                      "required": true
                    },
                    {
                      "type": "input-text",
                      "label": "Last Name",
                      "name": "lname",
                      "required": true
                    },
                    {
                      "type": "input-text",
                      "label": "Phone Number",
                      "name": "phone",
                      "required": true
                    },
                    {
                      "type": "input-password",
                      "label": "Password",
                      "name": "pwd",
                      "required": true
                    },
                    {
                      "type": "input-text",
                      "label": "Email",
                      "name": "email",
                      "required": true
                    },
                    {
                      "type": "select",
                      "label": "Class",
                      "name": "classes_id",
                      "source": "get:{{ url_for('adminManage', object='classes') }}",
                      "required": true
                    },
                    {
                      "type": "hidden",
                      "name": "privilege",
                      "value": "1"
                    }
                  ]
                }
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endblock %}

{% block printer_script %}
{% include 'flask_templates/general/print.html' %}
{% endblock %}