{% extends "layout.html" %}
{% from 'flask_templates/schema/guardian.json' import guardian_form %}
{% from 'flask_templates/schema/student.json' import student_form %}
{% from 'flask_templates/schema/family.json' import family_form %}

{% block title %}Enrollment Management{% endblock %}

{% block body %}
{
  "type": "tabs",
  "tabsMode": "strong",
  "tabs": [
    {
      "title": "Guardians",
      "tab": [
        {
          "type": "crud",
          "name": "guardian",
          "syncLocation": false,
          "api": "get:{{ url_for('adminManage', object='guardian') }}",
          "loadDataOnce": true,
          "loadDataOnceFetchOnFilter": false,
          "autoGenerateFilter": true,
          "columns": [
            {
              "label": "ID",
              "name": "id"
            },
            {
              "label": "First Name",
              "name": "fname",
              "searchable": true
            },
            {
              "label": "Last Name",
              "name": "lname",
              "searchable": true
            },
            {
              "label": "Phone Number",
              "name": "phone"
            },
            {
              "label": "Password",
              "name": "pwd"
            },
            {
              "label": "Email",
              "name": "email"
            },
            {
              "label": "Relationship",
              "name": "relationship"
            },
            {
              "label": "Barcode",
              "name": "barcode"
            },
            {
              "type": "operation",
              "label": "Operation",
              "buttons": [
                {
                  "type": "button",
                  "label": "Change password",
                  "level": "link",
                  "actionType": "dialog",
                  "dialog": {
                    "title": "Change password",
                    "body": {
                      "type": "form",
                      "api": "put:{{ url_for('adminManage', object='guardian', id='${id}') | safe }}",
                      "mode": "horizontal",
                      "horizontal": { "justify": true },
                      "rules": [
                        {
                          "rule": "${pwd == confirm_pwd}",
                          "message": "New password doesn't match!",
                          "name": ["confirm_pwd"]
                        }
                      ],
                      "body": [
                        {
                          "type": "input-password",
                          "label": "New password:",
                          "name": "pwd",
                          "value": "${''}",
                          "required": true
                        },
                        {
                          "type": "input-password",
                          "label": "Confirm new password:",
                          "name": "confirm_pwd",
                          "required": true
                        }
                      ]
                    }
                  }
                },
                {
                  "label": "Edit",
                  "type": "button",
                  "actionType": "dialog",
                  "level": "link",
                  "dialog": {
                    "title": "Edit",
                    "size": "md",
                    "body": {
                      "type": "form",
                      "api": "put:{{ url_for('adminManage', object='guardian', id='${id}') }}",
                      "body": {{ guardian_form() }}
                    }
                  }
                },
                {
                  "type": "button",
                  "actionType": "ajax",
                  "label": "Delete",
                  "level": "link",
                  "className": "text-danger",
                  "confirmText": "确定要删除？",
                  "api": "delete:{{ url_for('adminManage', object='guardian', id='${id}') }}",
                  "reload": "guardian, family"
                }
              ]
            }
          ]
        }
      ]
    },
    {
      "title": "Students",
      "tab": [
        {
          "type": "crud",
          "name": "student",
          "syncLocation": false,
          "api": "get:{{ url_for('adminManage', object='student') }}",
          "loadDataOnce": true,
          "loadDataOnceFetchOnFilter": false,
          "autoGenerateFilter": true,
          "columns": [
            {
              "label": "ID",
              "name": "id"
            },
            {
              "name": "status",
              "type": "mapping",
              "label": "Status",
              "sortable": true,
              "map": {
                0: "<span class='label label-warning'>Checked out</span>",
                1: "<span class='label label-info'>Pre-checked in</span>",
                2: "<span class='label label-success'>Checked in</span>",
                "*":  "<span class='label label-default'>Other</span>"
              }
            },
            {
              "label": "First Name",
              "name": "fname",
              "searchable": true
            },
            {
              "label": "Last Name",
              "name": "lname",
              "searchable": true
            },
            {
              "type": "date",
              "label": "Birthdate",
              "name": "birthdate",
              "format": "MM/DD/YYYY"
            },
            {
              "label": "Gender",
              "name": "gender"
            },
            {
              "label": "Grade",
              "name": "grade"
            },
            {
              "label": "Allergies",
              "name": "allergies"
            },
            {
              "label": "Check-in Method",
              "name": "check_in_method"
            },
            {
              "label": "Barcode",
              "name": "barcode"
            },
            {
              "type": "mapping",
              "name": "${programs | split}",
              "label": "Program",
              "itemSchema": {
                "type": "tag",
                "label": "${item}",
                "className": "m-b-xs"
              },
              "map": {
                "sunday_school": "Sunday School",
                "cm_lounge": "CM Parent and Child Lounge",
                "kid_choir": "Canaan Kid's Choir/Art",
                "u3_friday": "U3 Friday Night",
                "friday_lounge": "Friday Night CKFM and Chlid Lounge",
                "friday_night": "Friday Night",
              }
            },
            {
              "type": "operation",
              "label": "Operation",
              "buttons": [
                {
                  "label": "Edit",
                  "type": "button",
                  "actionType": "dialog",
                  "level": "link",
                  "dialog": {
                    "title": "Edit",
                    "size": "lg",
                    "body": {
                      "type": "form",
                      "api": "put:{{ url_for('adminManage', object='student', id='${id}') }}",
                      "body": {{ student_form(visible='true') }}
                    }
                  }
                },
                {
                  "type": "button",
                  "label": "Print",
                  "level": "link",
                  "visibleOn": "this.check_in_method === 'barcode'",
                  "onEvent": {
                    "click": {
                      "actions": [
                        {
                          "actionType": "custom",
                          "script": "DoPrint(event.data);"
                        }
                      ]
                    }
                  }
                },
                {
                  "type": "button",
                  "actionType": "ajax",
                  "label": "Delete",
                  "level": "link",
                  "className": "text-danger",
                  "confirmText": "确定要删除？",
                  "api": "delete:{{ url_for('adminManage', object='student', id='${id}') }}",
                  "reload": "student, family, class"
                }
              ]
            }
          ]
        }
      ]
    },
    {
      "title": "Family Information",
      "tab": [
        {
          "type": "crud",
          "name": "family_info",
          "syncLocation": false,
          "api": "get:{{ url_for('adminManage', object='familyInfo') }}",
          "loadDataOnce": true,
          "loadDataOnceFetchOnFilter": false,
          "autoGenerateFilter": true,
          "columns": [
            {
              "label": "ID",
              "name": "id"
            },
            {
              "label": "Guardians",
              "name": "guardian_names",
            },
            {
              "label": "Students",
              "name": "student_names",
            },
            {
              "label": "Street",
              "name": "street",
              "searchable": true
            },
            {
              "label": "City",
              "name": "city",
              "searchable": true
            },
            {
              "label": "State",
              "name": "state",
              "searchable": true
            },
            {
              "label": "Zip",
              "name": "zip"
            },
            {
              "label": "Sunday School",
              "name": "sunday_school",
            },
            {
              "name": "friday_night",
              "label": "Friday Night"
            },
            {
              "label": "Special Events",
              "name": "special_events"
            },
            {
              "type": "operation",
              "label": "Operation",
              "buttons": [
                {
                  "label": "Edit",
                  "type": "button",
                  "actionType": "dialog",
                  "level": "link",
                  "dialog": {
                    "title": "Edit",
                    "size": "lg",
                    "body": {
                      "type": "form",
                      "api": "put:{{ url_for('adminManage', object='familyInfo', id='${id}') }}",
                      "body": {{ family_form() }}
                    }
                  }
                },
                {
                  "type": "button",
                  "actionType": "ajax",
                  "label": "Delete",
                  "level": "link",
                  "className": "text-danger",
                  "confirmText": "Confirm deletion of entire family and associated information? This action cannot be undone.",
                  "api": "delete:{{ url_for('adminManage', object='familyInfo', id='${id}') }}",
                  "reload": "family_info, guardian, student, family, class"
                }
              ]
            }
          ]
        }
      ]
    },
    {
      "title": "Family",
      "tab": [
        {
          "type": "crud",
          "name": "family",
          "syncLocation": false,
          "api": "get:{{ url_for('adminManage', object='family') }}",
          "loadDataOnce": true,
          "loadDataOnceFetchOnFilter": false,
          "autoGenerateFilter": true,
          "columns": [
            {
              "label": "Family ID",
              "name": "id"
            },
            {
              "label": "Student Name",
              "name": "student_name",
              "sortable": true,
              "searchable": true
            },
            {
              "label": "Guardian Name",
              "name": "guardian_name",
              "sortable": true,
              "searchable": true
            },
            {
              "label": "Guardian Phone",
              "name": "guardian_phone"
            },
            {
              "label": "Guardian Email",
              "name": "guardian_email"
            },
            {
              "label": "Guardian Relationship",
              "name": "guardian_relationship"
            }
          ]
        }
      ]
    },
    {
      "title": "Class",
      "tab": [
        {
          "type": "crud",
          "name": "class",
          "syncLocation": false,
          "api": "{{ url_for('adminManage', object='student') }}",
          "loadDataOnce": true,
          "loadDataOnceFetchOnFilter": false,
          "source": "${items | filter:fname:match:fname\
                              | filter:lname:match:lname\
                              | filter:grade:match:grade\
                              | filter:classes_id:match:class}",
          "filter": {
            "body": [
              {
                "type": "input-text",
                "name": "fname",
                "label": "First name:"
              },
              {
                "type": "input-text",
                "name": "lname",
                "label": "Last name:"
              },
              {
                "type": "input-text",
                "name": "grade",
                "label": "Grade:"
              },
              {
                "type": "select",
                "name": "class",
                "label": "Class:",
                "source": "get:{{ url_for('adminManage', object='classes') }}"
              }
            ],
            "actions": [
              {
                "type": "button",
                "label": "Delete the class",
                "level": "danger",
                "required": ["class"],
                "actionType": "ajax",
                "confirmText": "Do you want to delete class ${class}?",
                "api": {
                  "method": "delete",
                  "url": "{{url_for('adminManage', object='classes', id='${class}')}}"
                }
              },
              {
                "type": "button",
                "label": "Create a new class",
                "actionType": "dialog",
                "dialog": {
                  "title": "Create a new class",
                  "body": {
                    "type": "form",
                    "api": "{{url_for('adminManage', object='classes')}}",
                    "mode": "horizontal",
                    "horizontal": { "justify": true },
                    "body": [
                      {
                        "type": "input-text",
                        "name": "classes_id",
                        "label": "Class name:",
                        "required": true
                      },
                      {
                        "type": "input-text",
                        "name": "name",
                        "label": "Teacher Name:",
                        "required": true
                      }
                    ]
                  }
                }
              },
              {
                "type": "reset",
                "label": "Reset"
              },
              {
                "type": "submit",
                "level": "primary",
                "label": "Search"
              }
            ]
          },
          "headerToolbar": ["bulkActions"],
          "keepItemSelectionOnPageChange": true,
          "checkOnItemClick": true,
          "bulkActions": [
            {
              "actionType": "dialog",
              "label": "Move to class",
              "level": "info",
              "dialog": {
                "title": "Move to class",
                "body": [
                  {
                    "type": "form",
                    "api": {
                      "method": "put",
                      "url": "{{ url_for('adminManage', object='classes', id='${id}') }}",
                      "data": {
                        "operation": "add",
                        "classes_id": "${class}",
                        "student_id_list": "${selectedItems|pick:id}",
                        "classes_id_list": "${selectedItems|pick:classes_id}"
                      }
                    },
                    "body": [
                      {
                        "type": "select",
                        "name": "class",
                        "label": "Class:",
                        "required": true,
                        "source": "{{url_for('adminManage', object='classes')}}"
                      }
                    ]
                  }
                ]
              }
            },
            {
              "type": "button",
              "label": "Drop from class",
              "level": "danger",
              "actionType": "ajax",
              "confirmText": "Do you want to drop selected students from their current class?",
              "api": {
                "method": "put",
                "url": "{{ url_for('adminManage', object='classes') }}",
                "data": {
                  "operation": "drop",
                  "students": "${selectedItems}"
                }
              }
            }
          ],
          "columns": [
            {
              "name": "id",
              "label": "ID"
            },
            {
              "name": "fname",
              "label": "First Name",
              "sortable": true
            },
            {
              "name": "lname",
              "label": "Last Name",
              "sortable": true
            },
            {
              "name": "grade",
              "label": "Grade",
              "sortable": true
            },
            {
              "name": "classes_id",
              "label": "Class",
              "sortable": true
            },
            {
              "name": "teacher_name",
              "label": "Teacher Name",
              "sortable": true
            }
          ]
        }
      ]
    },
    {
      "title": "Teachers",
      "tab": [
        {
          "type": "crud",
          "name": "teacher",
          "syncLocation": false,
          "api": "{{ url_for('adminManage', object='teacher') }}",
          "loadDataOnce": true,
          "loadDataOnceFetchOnFilter": false,
          "source": "${items | filter:fname:match:fname\
                             | filter:lname:match:lname}",
          "filter": {
            "body": [
              {
                "type": "input-text",
                "name": "fname",
                "label": "First name:"
              },
              {
                "type": "input-text",
                "name": "lname",
                "label": "Last name:"
              }
            ]
          },
          "columns": [
            {
              "name": "fname",
              "label": "First Name",
              "sortable": true
            },
            {
              "name": "lname",
              "label": "Last Name",
              "sortable": true
            },
            {
              "name": "phone",
              "label": "Phone",
              "sortable": true
            },
            {
              "name": "pwd",
              "label": "Password",
              "sortable": true
            },
            {
              "name": "email",
              "label": "Email",
              "sortable": true
            },
            {
              "name": "classes_id",
              "label": "Class",
              "sortable": true
            },
            {
              "name": "privilege",
              "type": "mapping",
              "label": "Privilege",
              "sortable": true,
              "map": {
                0: "Scanner",
                1: "Teacher",
                2: "Admin",
                "*": "NaN"
              }
            },
            {
              "type": "operation",
              "label": "Operation",
              "buttons": [
                {
                  "label": "Edit",
                  "type": "button",
                  "level": "link",
                  "actionType": "dialog",
                  "dialog": {
                    "title": "Edit",
                    "body": {
                      "type": "form",
                      "api": "put:{{ url_for('adminManage', object='teacher', id='${id}') }}",
                      "body": [
                        {
                          "type": "input-text",
                          "name": "fname",
                          "label": "First Name"
                        },
                        {
                          "type": "input-text",
                          "name": "lname",
                          "label": "Last Name"
                        },
                        {
                          "type": "input-text",
                          "name": "phone",
                          "label": "Phone",
                          "required": true
                        },
                        {
                          "type": "input-text",
                          "name": "pwd",
                          "label": "Password",
                          "required": true
                        },
                        {
                          "type": "input-text",
                          "name": "email",
                          "label": "Email",
                          "required": true
                        },
                        {
                          "type": "input-text",
                          "name": "classes_id",
                          "label": "Class"
                        },
                        {
                          "type": "select",
                          "name": "privilege",
                          "label": "Privilege",
                          "required": true,
                          "options": [
                            {
                              "label": "Teacher",
                              "value": 1
                            },
                            {
                              "label": "Admin",
                              "value": 2
                            },
                            {
                              "label": "Scanner",
                              "value": 0
                            }
                          ]
                        }
                      ]
                    }
                  }
                },
                {
                  "type": "button",
                  "actionType": "ajax",
                  "label": "Delete",
                  "level": "link",
                  "className": "text-danger",
                  "confirmText": "确定要删除？",
                  "api": "delete:{{ url_for('adminManage', object='teacher', id='${id}') }}"
                }
              ]
            }
          ],
          "headerToolbar": [
            {
              "type": "button",
              "label": "Add teacher",
              "level": "primary",
              "actionType": "dialog",
              "dialog": {
                "title": "Add teacher",
                "body": {
                  "type": "form",
                  "api": "post:{{ url_for('adminManage', object='teacher') }}",
                  "body": [
                    {
                      "type": "input-text",
                      "label": "First Name",
                      "name": "fname",
                      "required": true
                    },
                    {
                      "type": "input-text",
                      "label": "Last Name",
                      "name": "lname",
                      "required": true
                    },
                    {
                      "type": "input-text",
                      "label": "Phone Number",
                      "name": "phone",
                      "required": true
                    },
                    {
                      "type": "input-password",
                      "label": "Password",
                      "name": "pwd",
                      "required": true
                    },
                    {
                      "type": "input-text",
                      "label": "Email",
                      "name": "email",
                      "required": true
                    },
                    {
                      "type": "select",
                      "label": "Class",
                      "name": "classes_id",
                      "source": "get:{{ url_for('adminManage', object='classes') }}",
                      "required": true
                    },
                    {
                      "type": "hidden",
                      "name": "privilege",
                      "value": "1"
                    }
                  ]
                }
              }
            }
          ]
        }
      ]
    }
  ]
}
{% endblock %}

{% block printer_script %}
{% include 'flask_templates/general/print.html' %}
{% endblock %}