<html>
	<head>
		<meta charset="UTF-8">
		<title> Check Out Select</title>
	</head>
	<body></br></br></br></br></br>
		<div align="center">

			<div class="header">
				<h1 class="word">Check Out Select</h1>
			</div></br></br></br>
			<h2 class="word">
				<form action="{{ url_for('checkOutSelect', familyId=familyId) }}" method="post">
                    <div class="msg">{{ msg }}</div>
					<p> Select pick up guardian: </p>
					<select name="guardian">
						{% for guardian in guardians %}
							<option value="{{ guardian }}">{{ guardian }}</option>
						{% endfor %}
					</select>

					<p> Select student to pick: </p>
					<select name="student">
						{% for student in students %}
							<option value="{{ student }}">{{ student }}</option>
						{% endfor %}
					</select>

                    </br></br>
                    <input id="barcode" name="barcode" placeholder="Barcode"/>

					</br></br>
					<input type="submit" class="btn" value="Check Out"></br></br>
				</form>
			</h2>
        <p><a href="{{ url_for('index') }}"> Back to homepage </a></p> 

		</div>
	</body>
</html>
