<html>
	<head>
		<meta charset="UTF-8">
		<title> Check In Select</title>
	</head>
	<body></br></br></br></br></br>
		<div align="center">

			<div class="header">
				<h1 class="word">Check In Select</h1>
			</div></br></br></br>
			<h2 class="word">
				<form action="{{ url_for('checkInSelect', familyId=familyId) }}" method="post">

					<p> Select drop off guardian: </p>
					<select name="guardian">
						{% for guardian in guardians %}
							<option value="{{ guardian }}">{{ guardian }}</option>
						{% endfor %}
					</select>

					<p> Select student to drop: </p>
					<select name="student">
						{% for student in students %}
							<option value="{{ student }}">{{ student }}</option>
						{% endfor %}
					</select>

					</br></br>
					<input type="submit" class="btn" value="Check in"></br></br>
				</form>
			</h2>
        <p><a href="{{ url_for('index') }}"> Back to homepage </a></p> 

		</div>
	</body>
</html>
