<html>
	<head>
		<meta charset="UTF-8">
		<title> Check In Successfully</title>
	</head>
	<body></br></br></br></br></br>
		<div align="center">
			<div class="header">
				<h1 class="word">Check In Successfully</h1>
			</div></br></br></br>
			<h2 class="word">
                Check in successfully! </br>
                Guardian: {{ guardianName }} </br>
                Student: {{ studentName }} </br>
                Please get your barcode: </br>
                {{ barcode }}
			</h2>
        <p><a href="{{ url_for('index') }}"> Back to homepage </a></p> 

		</div>
	</body>
</html>
