{% extends "layout.html" %}
{% block title %}Check-out{% endblock %}

{% block body %}
{
  "type": "wizard",
  "steps": [
    {
      "title": "Scan Guardian's Barcode",
      "api": "post:{{ url_for('checkOut') }}",
      "autoFocus": true,
      "body": [
        {
          "type": "input-text",
          "label": "Guardian's Barcode:",
          "name": "guardian_barcode",
          "required": true,
          "clearable": true,
          "mode": "horizontal",
          "horizontal": { "justify": true }
        }
      ]
    },
    {
      "title": "Scan Student's Barcode",
      "api": "post:{{ url_for('checkOut') }}",
      "autoFocus": true,
      "body": [
        {
          "type": "input-text",
          "label": "Student's Barcode:",
          "name": "student_barcode",
          "id": "student_barcode",
          "required": true,
          "validateOnChange": false,
          "clearable": true,
          "mode": "horizontal",
          "horizontal": { "justify": true }
        },
        {
          "type": "service",
          "api": "get:{{ url_for('checkOut') }}",
          "id": "students",
          "body": {
            "type": "cards",
            "souce": "${items}",
            "card": {
              "header": {
                "title": "${fname} ${lname}",
                "subTitle": "Student",
                "avatarText": "${fname|first|upperCase}",
                "avatarTextBackground": ["#E69F00"]
              }
            }
          },
          "onEvent": {
            "fetchInited": {
              "actions": [
                {
                  "actionType": "refresh",
                  "expression": "!event.data.hasOwnProperty('items')"
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "onEvent": {
    "submitSucc": {
      "actions": [
        {
          "actionType": "reset",
          "componentId": "student_barcode"
        },
        {
          "actionType": "reload",
          "componentId": "students"
        }
      ]
    }
  }
}
{% endblock %}