{% extends "layout.html" %}
{% block title %}Check-out{% endblock %}

{% block body %}
{
  "type": "wizard",
  "steps": [
    {
      "title": "Scan Guardian's Barcode",
      "autoFocus": true,
      "api": "post:{{url_for('checkOut')}}",
      "body": [
        {
          "type": "input-text",
          "name": "barcode",
          "label": "Guardian's Barcode",
          "clearable": true,
          "mode": "horizontal",
          "horizontal": {
            "justify": true
          }
        }
      ]
    },
    {
      "title": "Scan Student's Barcode",
      "initApi": "{{url_for('checkOut')}}",
      "body": {
        "type": "cards",
        "card": {
          "header": {
            "title": "${fname} ${lname}",
            "subTitle": "Child",
            "avatarText": "${fname|first|upperCase}",
            "avatarTextBackground": ["#E69F00"]
          },
          "body": {
            "type": "form",
            "wrapWithPanel": false,
            "body": [
              {
                "type": "input-text",
                "name": "barcode",
                "label": "Student's Barcode",
                "clearable": true,
                "mode": "horizontal",
                "horizontal": {
                  "justify": true
                }
              },
              {
                "type": "alert",
                "body": "Successfully Checked out!",
                "level": "success",
                "showIcon": true,
                "visibleOn": "typeof this.key !== 'undefined' && this.key === this.id"
              },
              {
                "type": "button",
                "label": "Submit",
                "level": "info",
                "actionType": "submit",
                "api": "post:{{url_for('checkOut')}}"
              }
            ]
          }
        }
      }
    }
  ],
  "onEvent": {
    "finished": {
      "actions": [
        {
          "actionType": "refresh"
        }
      ]
    }
  }
}
{% endblock %}