{% extends "layout.html" %}
{% block title %}Check-in{% endblock %}

{% block body %}
[
  {
    "type": "form",
    "title": "Check in",
    "autoFocus": true,
    "submitText": "Check in",
    "api": "post:{{url_for('checkIn')}}",
    "body": [
      {
        "type": "input-text",
        "name": "barcode",
        "label": "Barcode",
        "mode": "horizontal",
        "clearable": true
      }
    ],
    "horizontal": {
      "justify": true
    },
    "onEvent": {
      "submitSucc": {
        "actions": [
          {
            "actionType": "dialog",
            "dialog": {
              "title": "Success",
              "actions": [],
              "showCloseButton": false,
              "body": [
                {
                  "type": "alert",
                  "title": "Successfully Checked in!",
                  "level": "success",
                  "showIcon": true
                }
              ]
            }
          },
          {
            "actionType": "custom",
            "script": "function reload() { location.reload(); }; setTimeout(reload, 2000);"
          }
        ]
      },
      "submitFail": {
        "actions": [
          {
            "actionType": "dialog",
            "dialog": {
              "title": "Failure",
              "showCloseButton": false,
              "body": [
                {
                  "type": "alert",
                  "title": "Failed to check in",
                  "body": "Please instruct the family to complete pre-check in first and try it again.",
                  "level": "danger",
                  "showIcon": true
                }
              ],
              "actions": [
                {
                  "type": "button",
                  "label": "OK",
                  "actionType": "link"
                }
              ]
            }
          }
        ]
      }
    }
  }
]
{% endblock %}
