{% extends "layout.html" %}
{% block title %}Log{% endblock %}

{% block body %}
{
  "type": "crud",
  "api": {
    "method": "get",
    "url": "{{url_for('log')}}",
    adaptor: function (payload, response, api) {
      function exist(p) {
        if (typeof p === 'undefined') {
          return false;
        }
        return true;
      };

      // Filter for check time
      if (exist(api.query.check_time)) {
        let time = api.query.check_time.split(',');
        let start = parseInt(time[0]);
        if (start && exist(payload.data.items)) {
          payload.data.items = payload.data.items.filter(t => parseInt(t.check_time) > start);
        }

        let end = parseInt(time[1]);
        if (end && exist(payload.data.items)) {
          payload.data.items = payload.data.items.filter(t => parseInt(t.check_time) < end);
        }
      }

      return {...payload};
    } 
  },
  "syncLocation": false,
  "loadDataOnce": true,
  "source": "${items | filter:student_name:match:student_name\
                      | filter:status:match:status\
                      | filter:check_in_method:match:check_in_method\
                      | filter:check_by:match:check_by\
                      | filter:programs:match:programs}",
  "filter": {
    "body": [
      {
        "type": "input-text",
        "name": "student_name",
        "label": "Student name:"
      },
      {
        "type": "select",
        "name": "status",
        "label": "Status:",
        "size": "sm",
        "options": [
          {
            "label": "Checked out",
            "value": "0"
          },
          {
            "label": "Pre-checked in",
            "value": "1"
          },
          {
            "label": "Checked in",
            "value": "2"
          }
        ]
      },
      {
        "type": "select",
        "name": "check_in_method",
        "label": "Check-in/out method:",
        "options": [
          {
            "label": "Barcode",
            "value": "barcode"
          }
        ]
      },
      {
        "type": "input-text",
        "name": "check_by",
        "label": "Checked in by:"
      },
      {
        "type": "input-datetime-range",
        "name": "check_time",
        "label": "Checked time range:",
        "inputFormat": "M/D/YYYY HH:mm"
      },
      {
        "type": "select",
        "name": "programs",
        "label": "Program(s):",
        "multiple": true,
        "size": "lg",
        "options": [
          {
            "label": "Sunday School",
            "value": "sunday_school"
          },
          {
            "label": "CM Parent and Child Lounge",
            "value": "cm_lounge"
          },
          {
            "label": "Canaan Kid's Choir/Art",
            "value": "kid_choir"
          },
          {
            "label": "U3 Friday Night",
            "value": "u3_friday"
          },
          {
            "label": "Friday Night CKFM and Chlid Lounge",
            "value": "friday_lounge"
          },
          {
            "label": "Friday Night",
            "value": "friday_night"
          }
        ]
      }
    ],
    "actions": [
      {
        "type": "reset",
        "label": "Reset"
      },
      // {
      //   "type": "button",
      //   "label": "Get achievement report",
      //   "actionType": "ajax",
      //   "required": ["student_name", "check_out_time", "programs"],
      //   "api": {
      //     "method": "get",
      //     "url": "test",
      //     "responseType": "blob",
      //     "data": {
      //       "&": "$$",
      //       "achievement_report": true
      //     }
      //   }
      // },
      // {
      //   "type": "button",
      //   "label": "Get attendance rate",
      //   "actionType": "ajax",
      //   "required": ["check_out_time", "programs"],
      //   "api": {
      //     "method": "get",
      //     "url": "test",
      //     "responseType": "blob",
      //     "data": {
      //       "&": "$$",
      //       "attendance_rate": true
      //     }
      //   }
      // },
      // {
      //   "type": "button",
      //   "label": "Get attendance report",
      //   "actionType": "ajax",
      //   "required": ["programs"],
      //   "api": {
      //     "method": "get",
      //     "url": "test",
      //     "responseType": "blob",
      //     "data": {
      //       "&": "$$",
      //       "attendance_report": true
      //     }
      //   }
      // },
      {
        "type": "submit",
        "level": "primary",
        "label": "Search"
      }
    ]
  },
  "headerToolbar": [
    {
      "type": "export-excel",
      "label": "Export to Excel",
      "filename": "log",
      "columns": [
        "student_name",
        "status",
        "check_in_method",
        "check_by",
        "check_time",
        "programs"
      ]
    }
  ],
  "columns": [
    {
      "name": "id",
      "label": "ID"
    },
    {
      "name": "student_name",
      "label": "Student Name",
      "sortable": true
    },
    {
      "name": "status",
      "type": "mapping",
      "label": "Status",
      "sortable": true,
      "map": {
        0: "<span class='label label-warning'>Checked out</span>",
        1: "<span class='label label-info'>Pre-checked in</span>",
        2: "<span class='label label-success'>Checked in</span>",
        "*":  "<span class='label label-default'>Other</span>"
      }
    },
    {
      "name": "check_in_method",
      "label": "Check-in/out Method",
      "sortable": true
    },
    {
      "name": "check_by",
      "label": "Checked by",
      "sortable": true
    },
    {
      "type": "date",
      "name": "check_time",
      "label": "Check Time",
      "format": "M/D/YYYY HH:mm",
      "sortable": true
    },
    {
      "name": "programs",
      "type": "mapping",
      "label": "Program(s)",
      "sortable": true,
      "map": {
        "sunday_school": "<span class='label label-default'>Sunday School</span>",
        "cm_lounge": "<span class='label label-default'>CM Parent and Child Lounge</span>",
        "kid_choir": "<span class='label label-default'>Canaan Kid's Choir/Art</span>",
        "u3_friday": "<span class='label label-default'>U3 Friday Night</span>",
        "friday_lounge": "<span class='label label-default'>Friday Night CKFM and Chlid Lounge</span>",
        "friday_night": "<span class='label label-default'>Friday Night</span>",
      }
    },
    {
      "type": "operation",
      "label": "Daily Progress",
      "buttons": [
        {
          "type": "button",
          "label": "Enter",
          "level": "link",
          "actionType": "dialog",
          "dialog": {
            "title": "Enter daily progress",
            "body": {
              "type": "form",
              "api": "put:{{url_for('log', id='${id}')}}",
              "body": [
                {
                  "type": "checkboxes",
                  "name": "daily_progress",
                  "label": "Checklist",
                  "inline": false,
                  "creatable": true,
                  "options": [
                    {
                      "label": "Being on time",
                      "value": "Being on time"
                    },
                    {
                      "label": "Brought a friend",
                      "value": "Brought a friend"
                    },
                    {
                      "label": "Wearing uniform",
                      "value": "Wearing uniform"
                    },
                    {
                      "label": "Brought workbook",
                      "value": "Brought workbook"
                    }
                  ]
                }
              ]
            }
          }
        }
      ]
    }
  ]
}
{% endblock %}