<head>
   <title>Student Management</title>
   <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
   <link rel="shortcut icon" href="{{url_for('static', filename = 'teacher.png' )}}">
</head>


<div class="container">
   <div class="well text-center">
      <h1>Student Management</h1>
   </div>
</div>

<link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
{% block body %}
<div class="container">
   <div class="row">
      <div class="col md-12">
         <h2>Student List <button type="button" class="btn btn-success  pull-right" data-toggle="modal"
               data-target="#myModal">Add Student Data</button></h2>
         {%with messages = get_flashed_messages()%}
         {%if messages%}
         {% for message in messages %}
         <div class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
               <span aria-hidden="true">&times;</span>
            </button>
            {{message}}
         </div>
         {%endfor%}
         {%endif%}
         {%endwith%}
         <table class="table table-striped">
            <tr>
               {% for attr in attrs %}
               <td>{{ attr }}</td>
               {%endfor%}
               <td> Edit </td>
            </tr>
            {% for row in entries %}
            <tr>
               {% for val in row %}
               <td>{{ val }}</td>
               {% endfor %}
               <td>
                  <a class="btn btn-warning btn-xs" data-toggle="modal"
                     data-target="#modaledit{{row.0}}">Update</a>
                  <a href="{{ url_for('studentDelete', id=row.0) }}" class="btn btn-danger btn-xs"
                     onclick="return confirm('Are You Sure For Delete?')">Delete</a>
               </td>
            </tr>
            <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
               <div class="modal-dialog">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Update Information</h4>
                     </div>
                     <div class="modal-body">
                        <form action="{{ url_for('studentUpdate', id=row.0) }}" method="POST">
                           {% for i, attr in enumerate(attrs) %}
                              <div class="form-group">
                                 {% if attr != 'id' %}
                                    <label>{{ attr }}</label>
                                    <input type="text" class="form-control" name="{{ attr }}" value="{{ row[i] }}" required="1">
                                 {% endif %}
                              </div>
                           {%endfor%}
                           <div class="form-group">
                              <button class="btn btn-primary" type="submit">Update</button>
                           </div>
                        </form>
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                     </div>
                  </div>
               </div>
            </div>
            {% endfor %}
            </tbody>
         </table>
      </div>
      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
         <div class="modal-dialog">
            <div class="modal-content">
               <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Please Insert Data</h4>
               </div>
               <div class="modal-body">
                  <form action="{{ url_for('studentInsert') }}" method="POST">
                     {% for attr in insert_attrs %}
                        <div class="form-group">
                           <label>{{ attr }}</label>
                           <input type="text" class="form-control" name="{{ attr }}" required="1">
                        </div>
                     {%endfor%}
                     <div class="form-group">
                        <button class="btn btn-primary" type="submit">Insert Data</button>
                     </div>
                  </form>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
{% endblock %}
<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>
<script type="text/javascript" src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>